h1 {
  text-align: center;
	font-family: Baskerville;
	font-size: 28px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 32px;
	color: white;
	border: 1px #005b96;
	border-top-width: 2px;
	background-color: #005b96;
}

h2 {
  text-align: left;
	font-family: Baskerville;
	font-size: 28px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 32px;
	color: #101010;
}

h3 {
	font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 22.8px;
	color: #101010;
}

h4 {
  text-align: center;
	font-family: Baskerville;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 28px;
	color: white;
	border: 1px #005b96;
	border-top-width: 2px;
	background-color: #005b96;
}

h1 a, h2 a, h4 a {
  color: white;
  &:hover, &:visited, &:active {
    color: white !important;
  }
}


p {
	font-family: Baskerville;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 17.5px;
	color: #101010;
}

p a, h3 a {
  color: #03396c;
  &:hover {color: black;}
}

blockquote {
	font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
	color: #101010;
}
pre {
	font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
	color: #101010;
}